[global]
type=global
user_agent=GeminiLive-Yemot

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060
local_net=${ASTERISK_LOCAL_NET}
external_signaling_address=${ASTERISK_EXTERNAL_IP}
external_media_address=${ASTERISK_EXTERNAL_IP}

[yemot-auth]
type=auth
auth_type=userpass
username=${YEMOT_SIP_USERNAME}
password=${YEMOT_SIP_PASSWORD}

[yemot-reg]
type=registration
transport=transport-udp
outbound_auth=yemot-auth
server_uri=sip:${YEMOT_SIP_SERVER}:${YEMOT_SIP_PORT}
client_uri=sip:${YEMOT_SIP_USERNAME}@${YEMOT_SIP_SERVER}
contact_user=${YEMOT_SIP_USERNAME}
retry_interval=30
expiration=300

[yemot-aor]
type=aor
contact=sip:${YEMOT_SIP_SERVER}:${YEMOT_SIP_PORT}
qualify_frequency=30

[yemot-endpoint]
type=endpoint
transport=transport-udp
context=from-yemot
disallow=all
allow=ulaw
allow=alaw
allow=slin
outbound_auth=yemot-auth
aors=yemot-aor
direct_media=no
rewrite_contact=yes
rtp_symmetric=yes
force_rport=yes
media_address=${ASTERISK_EXTERNAL_IP}

[yemot-identify]
type=identify
endpoint=yemot-endpoint
match=${YEMOT_SIP_SERVER}
